/* Colors */
/* text style */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*box style*/
.title {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 28px;
  text-align: center; }

.sub-title {
  font-family: "Open Sans", sans-serif;
  color: #726CD1;
  font-size: 14px; }

.add-btn:active {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  .add-btn:active img {
    background-color: #5842B8; }

nav.navbar {
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0 -20px !important; }
  nav.navbar a {
    font-size: 28px;
    font-weight: 600;
    margin: 10px; }
  nav.navbar li.active {
    background-image: linear-gradient(#7C7CDB, #5842B8); }
    nav.navbar li.active a {
      color: #fff !important; }

div.container-fluid {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35); }

form input, form textarea {
  border-style: none;
  border-radius: 14px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }
form input:hover, form textarea:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); }
form label {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-style: italic;
  font-size: 18px; }
form .my-btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(#7C7CDB, #5842B8);
  height: 50px;
  width: 380px;
  border-radius: 14px;
  border-style: none;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 28px;
  text-align: center;
  outline: none !important; }
form .my-btn:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px white; }
form .my-btn:active {
  background: #5842B8; }

footer {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 20px; }
  footer a {
    font-family: "Open Sans", sans-serif;
    color: #726CD1;
    font-style: italic;
    font-size: 18px; }
